<!-- Header component -->
<header class="header">
  <div class="header-container">
    <div class="logo">
      <h2>Client Digital Nest</h2>
    </div>
    <button class="hamburger" id="hamburger" aria-label="Toggle navigation">
      <span></span>
      <span></span>
      <span></span>
    </button>
    <nav class="navbar" id="navbar">
      <ul>
        <li><a href="../../home/index.html">Home</a></li>
        <li class="dropdown">
          <a href="../../services/index.html">Services</a>
          <ul class="dropdown-menu">
            <li><a href="../../services/index.html">Master Data Management (MDM)</a></li>
            <li><a href="../../services/index.html">MRO</a></li>
            <li><a href="../../services/index.html">Material Master</a></li>
            <li><a href="../../services/index.html">Data Mining & Processing</a></li>
          </ul>
        </li>
        <li><a href="../../industries/index.html">Industries</a></li>
        <li><a href="../../solutions/index.html">Solutions</a></li>
        <li><a href="../../about/index.html">About</a></li>
        <li><a href="../../contact/index.html">Contact</a></li>
      </ul>
    </nav>
  </div>
</header>
