<!-- Header component -->
<header class="header">
  <div class="header-container">
    <div class="logo">
      <a href="../home/index.html" class="logo-link">
        <img src="../assets/images/DNS_Logo.png" alt="Digital Nest Solutions" class="logo-img">
      </a>
    </div>
    <button class="hamburger" id="hamburger" aria-label="Toggle navigation">
      <span></span>
      <span></span>
      <span></span>
    </button>
    <nav class="navbar" id="navbar">
      <ul>
        <li><a href="../home/index.html">Home</a></li>
        <li><a href="../about-us/index.html">About Us</a></li>
        <li class="dropdown">
          <a href="../services/index.html" class="dropdown-toggle">Services <span class="dropdown-arrow">▾</span></a>
          <ul class="dropdown-menu">
            <li><a href="../services/index.html#cad-Photovoltaic">CAD Design</a></li>
            <li><a href="../services/index.html#annotation">Data Annotation (AI/ML)</a></li>
            <li><a href="../services/index.html#mro">MRO &amp; Data Engineering</a></li>
          </ul>
        </li>
        <li><a href="../our-process/index.html">Our Process</a></li>
        <li><a href="../quality-assurance/index.html">Quality Assurance</a></li>
        <li><a href="../case-studies/index.html">Case Studies</a></li>
        <li><a href="../careers/index.html">Careers</a></li>
        <li><a href="../blog/index.html">Blog</a></li>
        <li><a href="../contact-us/index.html">Contact Us</a></li>
        <li><a href="../appointment-booking/index.html" class="nav-cta">Book Appointment</a></li>
      </ul>
    </nav>
  </div>
</header>